---
import Services from "../components/services.astro";
import Testimonial from "../components/Testimonial.astro";
import Layout from "../layouts/index.astro";
import { Image } from "@astrojs/image/components";
import HeroImage from "../../public/hero-image.jpg";
---

<Layout>
  <h1 class="font-secular-one text-4xl">
    Dubon's Welding and Constructions Services, LLC.
  </h1>
  <Image src={HeroImage} alt="hero-image" width="1920" height="1300" />
  <section
    class="py-24 2xl:py-44 bg-blueGray-100 rounded-t-10xl overflow-hidden max-w-7xl mx-auto"
  >
    <Services />
  </section>
  <section
    class="py-24 2xl:py-44 bg-blueGray-100 rounded-t-10xl overflow-hidden max-w-7xl mx-auto"
  >
    <div class="container px-4 mx-auto">
      <Testimonial name="Emily Williams" rating={5} avatar="women">
        I was extremely impressed with the level of skill and precision
        demonstrated by the welder on my project. The finished product exceeded
        my expectations and was completed on time.
      </Testimonial>
      <Testimonial name="Michael Smith" rating={5} avatar="men">
        The welder was very professional and easy to work with. They took the
        time to understand my needs and made sure that the final product met my
        specifications.
      </Testimonial>
      <Testimonial name="Ashley Garcia" rating={5} avatar="women">
        I was very pleased with the quality of the welding work performed on my
        industrial equipment. The welder was able to repair a complex issue
        quickly and efficiently.
      </Testimonial>
      <Testimonial name="Joshua Thompson" rating={5} avatar="men">
        The welder was very knowledgeable and able to answer all of my questions
        about the process. They took great care in making sure that the final
        product was up to code and met safety standards.
      </Testimonial>
      <Testimonial name="Samantha Rodriguez" rating={5} avatar="women">
        I was very impressed with the attention to detail and quality of work
        provided by the welder. They were able to repair a difficult problem and
        the final product looked brand new.
      </Testimonial>
      <Testimonial name="David Perez" rating={5} avatar="men">
        The welder was able to complete the job in a timely manner and the final
        product was of great quality. I would definitely recommend them for any
        welding needs.
      </Testimonial>
      <Testimonial name="Lauren Taylor" rating={5} avatar="women">
        The welder was very professional and took the time to explain the
        process and answer any questions I had. I was very pleased with the
        final product and the level of expertise demonstrated.
      </Testimonial>
      <Testimonial name="Matthew Anderson" rating={5} avatar="men">
        I was extremely satisfied with the welding work done on my project. The
        welder was able to complete the job to my exact specifications and the
        final product was of high quality.
      </Testimonial>
      <Testimonial name="James Lee" rating={5} avatar="men">
        The welder was able to complete the job on time and within budget. The
        final product was of excellent quality and exceeded my expectations.
      </Testimonial>
      <Testimonial name="Jennifer Green" rating={5} avatar="women">
        I was very impressed with the welder's ability to handle a challenging
        project. They were able to repair and reinforce a critical component of
        my machinery, and the final product was of top-notch quality.
      </Testimonial>
    </div>
  </section>
</Layout>
